@import url('https://fonts.googleapis.com/css?family=Bungee');

body {
  font-family: Bungee, serif;
  background-color: #C2E7D9;
}
  

.link {

}

.link:hover {
  background: #E4F1FE;
  color: green;
}

.marquee {
  text-align: center;
  color: #FFFFFC;
  font-size: 2em;
  display: flex;
 }
    


