@import url('https://fonts.googleapis.com/css?family=Bungee');

body {
  font-family: Bungee, serif;
  background-color: #C2E7D9;
}
  

a.link {
  display: inline-block;
  margin: 0 0px 45px 35px;
  border: 4px solid black;
  border-radius: 100%;
  width: 100px;
  height: 100px;
}

a.link:hover {
  background: #E4F1FE;
  color: green;
}

.marquee {
  text-align: center;
  color: #FFFFFC;
  font-size: 2em;
  display: flex;
 }
    


