@import url('https://fonts.googleapis.com/css?family=Bungee');

body {
  display: grid;
  height: 100vh;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  background-color: #C2E7D9;
  font-color: #FFFFFC;
}

// etc

div {
  display: grid;
  place-items: center;
  background: #FFFFFC;
}

body {
  font-family: Bungee, serif;
}
