body {
  background-color: #C2E7D9;
  display: center;
 font-color: #FFFFFC;
}

h1 {
  font-color: #FFFFFC;
  bottom-border: 1px solid black;

#page-wrapper {
  position: relative;
}

a {
  color:#000;
  text-decoration: none;
  font-family: 'Avenir';
  border: 2px solid #FED766;
  border-radius: 5px 5px 5px 5px;
  padding: 10px;
}

li {
  list-style: none;
}

header {
  position: fixed;
  top: 0;
  padding: 0px 0px 0px 0px;
  min-height: 75px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #a0d6b4;
}

.logo > img {
  width: 20%;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

@media (max-width: 650px) {
  .logo > img {
    margin: 0 auto;
  }
}

nav {
  font-weight: 700;
}

nav li {
  padding-bottom: 5px;
}

nav > ul {
  width: 75vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@media (max-width: 650px) {
  nav > ul {
    flex-direction: column;
  }
}

#passion {
  margin-top: 142px;
  display: flex;
  justify-content: center;
}

#passion > h2 {
  display: flex;
  justify-content: center;
}

#passion .passion-style {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

#purity {
  margin-top: 42px;
  display: flex;
  justify-content: center;
}

#purity > iframe {
  max-width: 550px;
  width: 100%;
}

#form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 42px;
  justify-content: center;
}

#form input[type="email"] {
  padding: 10px;
  max-width: 180px;
  width: 100%;
  border-radius: 5px 5px 5px 5px;
}

#form input[type="submit"] {
  max-width: 125px;
  width: 100%;
  padding-top: 5px;
  border-radius: 2px 2px 2px 2px;
  background-color: #a3c1ad;
  
}

#purpose {
  margin-top: 142px;
  display: flex;
  justify-content: center;
}

#purpose > h2 {
  word-wrap: break-word;
  justify-content: center;
}
#purpose .purpose-style {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1px;
}
